::root {
  width: 100%;
}
.main-component-wrapper {
  width: 100%;
}


/*Fixing aside menu*/

.brand span {
    font-weight: 600;
    color: #f97316;
}
.expansible-item {
    display: flex;
    height: 36px;
}
.expansible-item .content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.expansible-item .content-wrapper span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 14px;
}
.expansible-item .icon-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 36px;
    min-height: 36px;
    margin: 0px !important;
    padding: 0px !important;
}


/*Fixing menu header*/
::ng-deep .p-panelmenu {
    display: flex !important;
    flex-direction: column;
    gap: 0.5rem !important;
    width: 100% !important;
  }
  ::ng-deep .p-panelmenu .p-panelmenu-header {
    background-color: transparent !important;
  }
  ::ng-deep .p-panelmenu .p-panelmenu-header span{
    font-size: 14px;
  }
  ::ng-deep .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content {
    border: 0px solid black !important;
    border-radius: 4px;
    background: transparent !important;
    padding: 0 !important;
    width: 100% !important;
  }
  ::ng-deep .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content:hover{
    background-color:rgba(255, 255, 255, 0.12) !important;
  }
  ::ng-deep .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content .activated i{
    color: white !important;
  }
  ::ng-deep .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content .activated{
    background-color: #ea580c;
    border-radius: 4px;
  }
  ::ng-deep .p-panelmenu p-panelmenusub .activated i ,::ng-deep .p-panelmenu p-panelmenusub .activated span{
    color: #ea580c !important;
  }
  /*Fixing menu options*/
  ::ng-deep .p-panelmenu .p-panelmenu-content {
    background-color: transparent !important;
    border: none;
  }
  ::ng-deep .p-panelmenu .p-panelmenu-content ul {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 4px;
  }
  ::ng-deep .p-panelmenu .p-panelmenu-content i{
    font-size: 10px;
    color: white !important;
  }
  ::ng-deep .p-panelmenu .p-panelmenu-content span{
    font-size: 12px;
    color: white !important;
  }
  

  
/*Collapsible items definitions*/
.expansible-item {
  display: flex;
  height: 36px;
}
.expansible-item .content-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.expansible-item .content-wrapper span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-left: 14px;
}
.expansible-item .icon-wrapper {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  min-width: 36px;
  min-height: 36px;
}
