/Backend/src/scripts/codigoR/*
Backend/src/scripts/codigoPython/dataMiner/mineracao/META/*
Backend/src/scripts/codigoPython/dataMiner/mineracao/model/*
Backend/src/scripts/codigoPython/dataMiner/mineracao/script/*
/Backend/src/scripts/codigoPython/dataMiner/assets/*
/Backend/src/scripts/codigoPython/dataMiner/data/zip/*
/Backend/src/scripts/codigoPython/dataMiner/docs/*
/Backend/src/scripts/data/*
/Backend/src/scripts/assets/*
/Backend/src/scripts/docs/*
codigoR/
**/__pycache__