<div class="w-screen h-screen p-fluid sign-in-wrapper">

  <div class="bg-cover">
    <div class="w-full h-full bg-black-alpha-60 flex align-items-center justify-content-center" [ngStyle]="{ backdropFilter: 'blur(10px)' }">

      <form class="w-full pad" [formGroup]="form" *ngIf="formReady" (submit)="onSubmit()">
  
        <div class="mb-6">
          <h1 class="mb-2">Seja Bem-Vindo</h1>
          <div class="border-round bg-orange-500" style="height: 4px; width: 42px;"></div>
        </div>
        
        <div class="mb-4">
          <span>
            <label for="email">Email</label>
            <input pInputText placeholder="Email" id="email" class="p-inputtext-lg border-transparent mt-2 bg-black-alpha-30" formControlName="email" type="email" [ngStyle]="{ backdropFilter: 'blur(10px)', borderRadius: '12px', fontSize: '14px' }" [readOnly]="loading"/>
          </span>
        </div>
  
        <div class="mb-3">
          <span>
            <label for="username">Senha</label>
            <input pInputText placeholder="Senha" id="password" class="p-inputtext-lg border-transparent mt-2 bg-black-alpha-30" formControlName="password" type="password" [ngStyle]="{ backdropFilter: 'blur(10px)', borderRadius: '12px', fontSize: '14px' }" [readOnly]="loading"/>
          </span>
        </div>
  
        <div class="flex justify-content-between align-items-center mb-6">
          <span class="text-red-400 font-semibold">{{error}}</span>
          <a class="text-gray-100 hover:text-orange-500 cursor-pointer" routerLink="/recovery-password">esqueceu sua senha?</a>
        </div>
  
        <p-button type="submit" label="ENTRAR" [loading]="loading" [disabled]="form.invalid" styleClass="text-white font-semibold mt-1 border-round-3xl" [style]="{ letterSpacing: '.5px' }"></p-button>
  
      </form>

    </div>
  </div> 

  <div class="bg-cover relative hidden md:block" [ngStyle]="{ backgroundImage: background }"> 
    <div class="w-full h-full bg-black-alpha-50 flex align-items-center" style="padding: 64px;">
      <div style="max-width: 756px;">
        <h1 class="mb-4">O que você está fazendo hoje <br /> para alcançar o sucesso amanhã?</h1>
        <p class="text-lg">Nossa proposta é levar à sociedade o conhecimento sobre a carreira musical, revelando os passos essenciais para o sucesso. Queremos capacitar artistas e entusiastas a entenderem como se destacar no universo da música.</p>
      </div>
    </div>
  
    <div class="absolute right-0 bottom-0 mb-3 flex align-items-center justify-content-between w-full" style="padding-left: 64px; padding-right: 64px;">
      <div class="flex align-items-center gap-3">
        <span>
          Image designed by
          <a href="https://br.freepik.com/" class="text-orange-500">
            Freepik
          </a>
        </span>

        <!-- <i class="fa-brands fa-instagram text-xl hover:text-orange-500 cursor-pointer hover-scale-up transition-all transition-duration-100"></i>
        <i class="fa-brands fa-square-facebook text-xl hover:text-orange-500 cursor-pointer hover-scale-up transition-all transition-duration-100"></i>
        <i class="fa-brands fa-x-twitter text-xl hover:text-orange-500 cursor-pointer hover-scale-up transition-all transition-duration-100"></i>
        <i class="fa-brands fa-whatsapp text-xl hover:text-orange-500 cursor-pointer hover-scale-up transition-all transition-duration-100"></i> -->
      </div>

      <a href="${env.ozio}" class="flex align-items-center gap-3">
        <img style="width: 24px;" src="../../../../../assets/images/logos/logo.svg" alt="">
        <h4>OZIO</h4>
      </a>
    </div>
  </div>

</div>
