.hover-scale-up:hover {
  transform: scale(1.2);
}



@media (min-width: 768px) {
  .sign-in-wrapper {
    display: grid; 
    grid-template-columns: 456px 1fr;
  }
}

@media (max-width: 767px) {
  .sign-in-wrapper {
    display: grid; 
    grid-template-columns: 1fr;
  }
}

@media (min-width: 442px) {
  .pad {
    padding: 64px;
  }
}

@media (max-width: 441px) {
  .pad {
    padding: 32px;
  }
}