<!-- <p-floatLabel *ngIf="!multiselector">
  <p-dropdown id="selector" [loading]="loading" appendTo="body" [options]="options" [(ngModel)]="value" (onChange)="onSelectValue($event.value)" (onBlur)="onTouched()" [filter]="true" [showClear]="false" emptyMessage="Nenhum registro encontrado!" [readonly]="readOnly">
    <ng-template pTemplate="footer">
      <p-button label="Novo" (click)="createRegistry()" severity="secondary" [style]="{ width: '100%', borderRadius: '0px 0px 6px 6px' }" *ngIf="modalCreate"></p-button>
    </ng-template>
  </p-dropdown>
  <label for="selector" *ngIf="label">{{label}}</label>
</p-floatLabel>

<p-floatLabel *ngIf="multiselector">
  <p-multiSelect id="selector" [loading]="loading" appendTo="body" [options]="options" [(ngModel)]="value" (onChange)="onSelectValue($event.value)" (onBlur)="onTouched()" [filter]="true" display="chip" [showClear]="false" [showToggleAll]="false" emptyMessage="Nenhum registro encontrado!" [readonly]="readOnly">
    <ng-template pTemplate="footer">
      <p-button label="Novo" (click)="createRegistry()" severity="secondary" [style]="{ width: '100%', borderRadius: '0px 0px 6px 6px' }" *ngIf="modalCreate"></p-button>
    </ng-template>
  </p-multiSelect>
  <label for="selector" *ngIf="label">{{label}}</label>
</p-floatLabel> -->
