<div class="main-content-wrapper">
  <app-table-header>
    <ng-template #actions>
      <p-button [rounded]="true" [loading]="loading" icon="pi pi-sync" text="true" class="mr-2" (click)="updateUI()"/>
      <p-button [rounded]="true" icon="pi pi-filter" text="true" class="mr-2" [disabled]="loading"/>
      <p-button [rounded]="true" icon="pi pi-plus" text="true" (click)="add()" [disabled]="loading"/>
    </ng-template>
  </app-table-header>
  <div class="m-grid" style="gap: 8px;">
    <div class="m-col-3 md-m-col-4 sm-m-col-12 data-grid-card cursor-pointer border-1 border-gray-700" (click)="onSelect(rowData.id)" style="position: relative; background-color: #121212;"  *ngFor="let rowData of filteredValues">
      <strong class="text-lg mb-1">{{rowData}}</strong>
    </div>
  </div>
</div>