.barra{
    width: 206px;
    height: 3px;
    background-color: #CFD8DC;
    border-radius: 15%;
    margin-top: 1px;
}

.caixa{
    border-left: solid 4px;
    border-color: #7E57C2;
    background-color: var(--p-surface-200);
}

::ng-deep .btnPublicacoes{

    border-radius: 25px;
    height: 40px;
    font-size: 13px;
    width: 200px;
    color: #455A64 !important;
    border-color: #455A64 !important;
    background-color: #cfd8dc00 !important;
}

::ng-deep .btnPublicacoes:hover{

    border-color: #455A64 !important;
    background-color: #c5ced138 !important;
}

::ng-deep .btnPublicacoes:active{
    border-color: #455A64 !important;
    background-color: #adb5b869 !important;
}


::ng-deep .contato{
    border-radius: 25px;
    height: 40px;
    font-size: 13px;
    width: 200px;
    color: black;
    border-color: #c8d0d3 !important;
    background-color: #CFD8DC !important;
}
::ng-deep .contato:hover{
    background-color: #bac2c5 !important;
    border-color: #bac2c5 !important;
    color: black !important;
}
::ng-deep .contato:active{
    background-color: #a3abad !important;
    border-color: #a3abad !important;

}
.bg {
    width: 100%;
    height: 360px;
    background-image: url("/imgs/wave.jpg");
    background-size: cover;      /* cobre toda a div */
}


::ng-deep .botao{
    
    border-radius: 25px;
    height: 40px;
    font-size: 13px;
    width: 200px;
    color: white;
    
    
}