<main>
    <div class="flex justify-content-center surface-100"  >
        <div class="flex justify-content-between w-full" style="max-width: 1440px; height: 480px;">
            <div class="pt-8 pb-8 pl-4" style="max-width: 634px;">
                <div class="text-3xl font-bold text-800 w-full ">Marcos Vinicius Lopes Pereira</div>
                <div class=" font-bold text-600 my-3">Professor Adjunto, Universidade Federal de São João Del-Rei (UFSJ) <br> (Campus Alto Paraopeba)</div>
                <div class="barra"></div>
                <div class="my-4 text-800 text-sm">Atua nos cursos de Engenharia Mecatrônica e Engenharia de Telecomunicações. Possui graduação em Engenharia de Controle e Automação, mestrado em Engenharia Elétrica e doutorado em Administração, todos pela Universidade Federal de Minas Gerais (UFMG).</div>
                <div class="text-800 text-sm mb-5">Também trabalha nas áreas de controle de processos industriais, processamento de sinais, identificação e otimização de sistemas dinâmicos. Desenvolve pesquisas em inteligência computacional, com ênfase em redes neurais e sistemas nebulosos. É membro do CELTA e do NUFI, grupos de pesquisa vinculados à UFMG, com atuação em engenharia, computação, finanças e administração.</div>
                <p-button  styleClass="botao" (onClick)="goTo('http://lattes.cnpq.br/1294789533388093')" >CURRÍCULO LATTES</p-button>
            </div>                                              
            <div class="flex justify-content-end" style="gap: 36px;">
                <div class="relative" style="width: 192px;">
                    <img src="/imgs/img.jpg" style="width: 192px; height: 480px; object-fit: cover; object-position: 30%;">
                    <div class="absolute right-0 top-0 bg-white opacity-20 z-5" style="height: 480px; width: 36px;"></div>
                </div>
                <div class="relative" style="width: 192px;">
                    <img src="/imgs/img.jpg" style="width: 192px; height: 480px; object-fit: cover; object-position: 60%;">
                    <div class="absolute right-0 top-0 bg-white opacity-20 z-5" style="height: 480px; width: 36px;"></div>
                </div>
                <div class="relative" style="width: 192px;">
                    <img src="/imgs/img.jpg" style="width: 192px; height: 480px; object-fit: cover; object-position: 90%;">
                    <div class="absolute right-0 top-0 bg-white opacity-20 z-5" style="height: 480px; width: 36px;"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 176px;"></div>
    <div class="flex justify-content-center">
        <div class="flex justify-content-between w-full" style="max-width: 1145px; height: 727px; ">
            <div class="h-full w-full">
                <img src="/imgs/Marcos.jpg" style="width: 484px; height: 727px; object-fit: cover;">
            </div>
            <div class="ml-8" style="max-width: 608px;">
                <div class="text-3xl">SOBRE - PROFESSOR ADJUNTO</div>
                <div class="my-3 text-700">Universidade Federal de São João Del-Rei (UFSJ) - Campus Alto Paraopeba - Departamento das Engenharias de Telecomunicação e Mecatrônica (DETEM)</div>
                <div class="caixa p-3 pl-4 text-xs text-600 font-medium">
                    <div>"A aplicação da inteligência computacional e das técnicas avançadas de controle e otimização é fundamental para impulsionar a inovação e a eficiência nos sistemas de engenharia."</div>
                </div>
                <div class="my-5 text-sm text-700 line-height-2">Possui graduação em Engenharia de Controle e Automação (2003), mestrado em Engenharia Elétrica (2006) e doutorado em Administração (2020), todas essas formações obtidas na Universidade Federal de Minas Gerais (UFMG). Atualmente, é professor adjunto na Universidade Federal de São João Del-Rei (UFSJ), lotado no Campus Alto Paraopeba, onde leciona principalmente para os cursos de Engenharia Mecatrônica e Engenharia de Telecomunicações.</div>
                <div class="my-5 text-sm text-700 line-height-2">Com uma sólida experiência na área de Engenharia de Controle e Automação, suas principais áreas de interesse e pesquisa incluem: controle de processos industriais, uma área vital para a eficiência e segurança na indústria; processamento de sinais, fundamental para extrair informações úteis de dados ruidosos; identificação de sistemas dinâmicos, que permite modelar e prever o comportamento de sistemas complexos; otimização de sistemas, buscando sempre a melhor performance e alocação de recursos; e inteligência computacional, com foco em redes neurais e sistemas nebulosos, para desenvolver soluções adaptativas e inteligentes para problemas desafiadore</div>
                <div class="my-5 text-sm text-700 line-height-2">É membro ativo do CELTA - Centro de Estudos em Engenharia Eletrônica e Automação, um grupo de pesquisa multidisciplinar dedicado ao avanço em áreas como controle, robótica, computação, modelagem matemática, eletrônica aplicada e visão computacional. Além disso, integra o NUFI - Núcleo de Ensino, Pesquisa e Consultoria em Finanças e Contabilidade, vinculado ao Departamento de Ciências Administrativas (CAD) e ao Centro de Pós-Graduação e Pesquisas em Administração (CEPEAD) da Faculdade de Ciências Econômicas (FACE) da UFMG, demonstrando a interdisciplinaridade de sua atuação.</div>
                <div class="flex gap-4">
                    <p-button  styleClass="botao" (onClick)="goTo('http://lattes.cnpq.br/1294789533388093')" >CURRÍCULO LATTES</p-button>
                    <p-button  styleClass="contato" (onClick)="openContato()">ENTRAR EM CONTATO</p-button>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 176px;"></div>
    <div class="bg flex justify-content-center">
        <div class="text-600 mt-7 text-center flex flex-column align-items-center">
            <div class="font-light text-3xl">Engenharia de Controle, Automação e <br> Inteligência Computacional</div>
            <div class="my-3 barra "></div>
            <div class="text-600 " style="max-width: 870px;">Com vasta experiência em controle de processos industriais, processamento de sinais, identificação de sistemas dinâmicos, otimização e aplicação de inteligência computacional (redes neurais e sistemas nebulosos), o Professor Marcos dedica-se a solucionar problemas complexos e desenvolver inovações tecnológicas nas áreas de Engenharia Mecatrônica e de Telecomunicações.</div>
            <p-button styleClass="btnPublicacoes my-6" (onClick)="redirectPublicacoes()">VER PUBLICAÇÕES</p-button>
        </div>

    </div>
</main>

 