<div class="table-header-wrapper gap-2 p-2 border-1 border-gray-700 mb-2" style="background-color: #121212;border-radius: 8px;">
  <div class="flex align-items-center flex-shrink-0" *ngIf="leftSideTemplate">
    <ng-container *ngIf="leftSideTemplate; else defaultTemplate">
      <ng-container *ngTemplateOutlet="leftSideTemplate"></ng-container>
    </ng-container>
  </div>
  <div class="m-toolbar flex align-items-center w-full">
    <span class="p-input-icon-left w-full">
      <i class="pi pi-search"></i>
      <input type="text" [(ngModel)]="searchValue" placeholder="Pesquisa..." class="w-full" (input)="onFilter()" pInputText/>
    </span>
  </div>
  <div class="flex align-items-center flex-shrink-0" *ngIf="rightSideTemplate">
    <ng-container *ngIf="rightSideTemplate; else defaultTemplate">
      <ng-container *ngTemplateOutlet="rightSideTemplate"></ng-container>
    </ng-container>
  </div>
  <div class="flex align-items-center flex-shrink-0" *ngIf="actionsTemplate">
    <ng-container *ngIf="actionsTemplate; else defaultTemplate">
      <ng-container *ngTemplateOutlet="actionsTemplate"></ng-container>
    </ng-container>
  </div>
</div>
  
<ng-template #defaultTemplate></ng-template>
