<main class="bgHeader flex align-items-center flex-column">
    <div style="width: 1200px;" class="text-2xl surface-50 text-center font-bold text-600 border-1 shadow-2 p-4 border-round my-4 border-300">Pesquisas</div>
    <div style="width: 1200px;" class="surface-50 flex flex-column p-7 align-items-center pt-4 border-1 border-300 border-round">
        <!-- <div class="flex justify-content-evenly w-full border-600 mb-4" >
            <div class="p-3 border-1 shadow-2 border-300 border-round bg-white" style="width: 157px;">
                <div class="text-600 font-bold text-center text-sm">Papéis publicados</div>
                <div class="numeros ">89</div>
            </div>
            <div class="p-3 border-1 shadow-2 border-300 border-round bg-white" style="width: 157px;">
                <div class="text-600 font-bold text-center text-sm">Citações Totais</div>
                <div class="numeros ">50</div>
            </div>
            <div class="p-3 border-1 shadow-2 border-300 border-round bg-white" style="width: 157px;">
                <div class="text-600 font-bold text-center text-sm">H-index</div>
                <div class="numeros ">89</div>
            </div>
            <div class="p-3 border-1 shadow-2 border-300 border-round bg-white" style="width: 157px;">
                <div class="text-600 font-bold text-center text-sm">i10-index</div>
                <div class="numeros ">89</div>
            </div>
        </div> -->
        <div class="flex flex-column gap-4">
            <div class="caixa p-3 flex gap-8">
                <div class="gap-2 flex flex-column" >
                    <div class="titulo cursor-pointer" (click)="redirectGovernanca()">Informe do Código de Governança (ICBGC)</div>
                    <div class="text-500 text-xs">PEREIRA, M. V. L.</div>
                    <div class="text-xs">O Informe do Código de Governança (ICBGC) é um documento eletrônico periódico previsto no art. 32 da Resolução CVM nº 80. Esta amostra contém 2895 documentos do ICBGC, referentes a 504 empresas (inclui companhias listadas e não listadas em bolsas de valores), com intervalo de datas de entrega de outubro/2018 a julho/2025 e intervalo de datas de referência de setembro/2018 a dezembro/2025.</div>
                </div>
                <!-- <div class="align-content-center"><img src="/imgs/placeholder.jpg" style="width: 150px; height: 194px;"></div> -->
            </div>
            
            
        </div>
    </div>
</main>