.bgHeader {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.bgHeader::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("/imgs/pattern.jpg");
    background-size: 600px 600px;
    background-repeat: repeat;

    filter: opacity(0.15);
    z-index: 0;
}

.bgHeader::after {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--p-surface-50);
    opacity: 0.1; 
    z-index: 1;
}

.bgHeader > * {
    position: relative;
    z-index: 2;
}

.numeros{
    color: #7E57C2;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 8px;
}

.barra{
    width: 206px;
    height: 3px;
    background-color: #CFD8DC;
    border-radius: 15%;
    margin-top: 1px;
}

.caixa{
    border-left: solid 4px;
    border-color: #7E57C2;
    background-color: var(--p-surface-200);
}
.titulo{
    color: #7E57C2;
    font-size: 14px;

}
::ng-deep .dados {
    max-height: 80px;
    overflow: hidden;

    line-height: 1.2rem;
}
